*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

summary {
  list-style: none;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
}

address {
  font-style: normal;
}

.link {
  background-color: blue;
  padding: 1.25rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  border-radius: 1.25rem;
  color: #fff;
}

@-webkit-keyframes jumpArrow {
  0%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
}

@keyframes jumpArrow {
  0%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
}
@-webkit-keyframes arrowMove {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  60% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  80% {
    -webkit-transform: translateX(4px);
            transform: translateX(4px);
  }
  100% {
    -webkit-transform: translateX(6px);
            transform: translateX(6px);
  }
}
@keyframes arrowMove {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  60% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  80% {
    -webkit-transform: translateX(4px);
            transform: translateX(4px);
  }
  100% {
    -webkit-transform: translateX(6px);
            transform: translateX(6px);
  }
}
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  40% {
    -webkit-transform: translateX(6px);
            transform: translateX(6px);
  }
  60% {
    -webkit-transform: translateX(3px);
            transform: translateX(3px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  40% {
    -webkit-transform: translateX(6px);
            transform: translateX(6px);
  }
  60% {
    -webkit-transform: translateX(3px);
            transform: translateX(3px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes shine {
  0% {
    left: -80%;
  }
  100% {
    left: 120%;
  }
}
@keyframes shine {
  0% {
    left: -80%;
  }
  100% {
    left: 120%;
  }
}
.components__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3.125rem;
  padding-top: 3.125rem;
}
.icon-menu {
  position: relative;
  width: 1.875rem;
  height: 1.25rem;
  z-index: 10;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.icon-menu::before, .icon-menu::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0.1875rem;
  border-radius: 0.625rem;
  background-color: #000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.icon-menu::before {
  top: 0;
}
.icon-menu::after {
  bottom: 0;
}
.icon-menu span {
  position: absolute;
  top: 50%;
  right: 0;
  translate: 0 -50%;
  background-color: #000;
  width: 70%;
  height: 0.1875rem;
  border-radius: 0.625rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.menu-open .icon-menu::before {
  top: 50%;
  rotate: 45deg;
  translate: 0 -50%;
}
.menu-open .icon-menu::after {
  top: 50%;
  rotate: -45deg;
  translate: 0 -50%;
}
.menu-open .icon-menu span {
  width: 0;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  color: #000;
  background-color: lightgray;
}
body.scroll-lock {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 86.875rem;
  padding-inline: 0.9375rem;
  margin: 0 auto;
}