@use '../settings/settings' as *;
@use '../settings/_mixins.scss' as *;


.page-about {
   background-color: $bgSecondary;
}

.about-page {
   @include adaptiveValue('padding-top', 200, 150);
   @include adaptiveValue('padding-bottom', 120, 50);

   // .about-page__header
   &__header {
      &.block-header--about {
         opacity: 0;
         scale: 0.2;
         transition: opacity 1s, scale 1s;
         transform-origin: top;
         will-change: transition,opacity,scale;
         @include adaptiveValue('margin-bottom', 60, 40);

         [init-page-loader="ready"] & {
            opacity: 1;
            scale: 1;
         }

      }

      .mouse-scroll {
         fill: $brandPrimary;
      }

      .block-header__title {
         @include adaptiveValue('font-size', 64, 40);
      }
   }

   &__text {
      font-size: toRem(22);
      max-width: toRem(800);
   }
}

.body-about {

   &__wrapper {
      // overflow: hidden;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(min(toRem(600), 100%), 1fr));
      @include adaptiveValue('gap', 50, 25);
   }

   // .body-about__inner
   &__inner {
      display: flex;
      flex-direction: column;
      gap: toRem(50);
      // @include popIn($duration: 1s, $origin: bottom right);
      opacity: 0;
      scale: 0.2;
      // translate: 0 toRem(60);
      transform-origin: bottom right;
      transition: opacity 0.8s, translate 0.8s ease, scale 0.8s;
      will-change: opacity, translate;

      [init-page-loader="ready"] & {
         opacity: 1;
         scale: 1;
         // translate: 0 0;
      }
   }

   // .body-about__info
   &__info {
      background-color: $bgPrimary;
      border-radius: toRem(40);
      @include adaptiveValue('padding-inline', 40, 15);
      padding-block: toRem(24);
      @include adaptiveValue('font-size', 18, 14);
      line-height: 1.8;
      height: auto;
   }

   // .body-about__name
   &__name {
      font-size: toRem(14);
      margin-bottom: toRem(10);
   }

   // .body-about__title
   &__title {
      @include adaptiveValue('font-size', 40, 24);
      margin-bottom: toRem(20);
      line-height: 1.5;
   }

   // .body-about__desc
   &__desc {
      display: flex;
      flex-direction: column;

      // gap: toRem(16);
      p {
         padding-inline-start: toRem(20);

         span {
            color: $brandPrimary;
         }
      }
   }

   // .body-about__image
   &__image {
      position: relative;
      aspect-ratio: 1;
      // overflow: hidden;
      opacity: 0;
      scale: 0.2;
      transform-origin: bottom left;
      transition: opacity 0.8s, translate 0.8s ease, scale 0.8s;
      will-change: opacity,translate;

      &::after {
         content: "";
         position: absolute;
         bottom: percent(30,800);
         left: 0;
         background-color: rgba(0, 0, 0, 0.5);
         width: 100%;
         height: percent(60,800);
         border-radius: 60%;
         z-index: -1;
      }


      [init-page-loader="ready"] & {
        opacity: 1;
        scale: 1;
      //   translate: 0 0;
      }

      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
         object-position: top;
      }
   }

   &__img {
      aspect-ratio: 1;

      img {
         width: 100%;
         height: auto;
         object-fit: cover;
         object-position: top;
      }
   }

   &__teg {
      width: toRem(40);
      height: toRem(20);
      fill: $brandPrimary;
   }

   &__buttons {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(min(toRem(250), 100%), 1fr));
      gap: toRem(16);
      grid-column: 2 / 3;
   }
}

// ===========================================================================================
// -----------------------------
// page-approach
// -----------------------------
.approach {
   @include adaptiveValue('padding-block', 120, 50);
   position: relative;
   background-color: $bgPrimary;

   &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background-image: url("/src/assets/img/png/works-img.webp");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 100%;
      opacity: 0.3;
   }

   // .approach__container
   &__container {
      display: flex;
      flex-direction: column;
      @include adaptiveValue('gap',40,20);
   }

   &__scroll {
      display: flex;
      margin: 0 auto;
      @include reveal((0, toRem(30)));

      &.mouse-scroll {
         fill: $gold;
      }
   }

   &__title {
      position: sticky;
      top: toRem(100);
      font-size: toRem(58);
      font-weight: 700;
      width: 50%;
      text-align: center;
      @include popIn($duration: 0.8s, $origin: top);

      span {
         color: $brandDark;
      }

      @media (max-width: toEm(425)) {
         text-align: center;
      }

      @media (max-width: toEm($mobile)) {
         //   @include adaptiveValue('margin-bottom', 40, 20);
         position: relative;
         top: 0;
         width: 100%;
      }
   }

   &__body {
      display: flex;
      justify-content: space-evenly;
      gap: toRem(50);
      align-items: flex-start;

      @media (max-width: toEm($mobile)) {
         flex-direction: column;
         align-items: center;
      }
   }

   // .approach__items
   &__items {
      // display: grid;
      // grid-template-columns: repeat(auto-fill,minmax(min(toRem(350),100%),1fr));
      // align-items: start;
      // justify-items: start;
      display: flex;
      flex-direction: column;
      width: 50%;
      gap: toRem(30);

      @media (max-width: toEm($mobile)) {
        width: 100%;
      }
   }
}
