@use '../settings/settings' as *;
@use '../settings/_mixins.scss' as *;


.contacts-page {
   background-color: $bgPrimary;
   // background-color: $bgSecondary;
   @include adaptiveValue('padding-top', 350, 130);
   @include adaptiveValue('padding-bottom', 120, 50);


   // .contacts-page__container
   &__container {
      position: relative;
      // display: grid;
      // grid-template-columns: repeat(auto-fill,minmax(min(toRem(600),100%),1fr));
      display: flex;
      // justify-content: space-between;
      gap: toRem(50);

      &::before {
         content: "";
         position: absolute;
         top: -30%;
         right: 30%;
         background: url("/src/assets/img/png/keyboard.webp") 0 0 / cover no-repeat;
         width: toRem(160);
         height: toRem(125);
      }

      &::after {
         content: "";
         position: absolute;
         bottom: -10%;
         right: 10%;
         background: url("/src/assets/img/png/mail.webp") 100% / cover no-repeat;
         width: toRem(60);
         aspect-ratio: 1;
      }

      @media (max-width: toEm(1250)) {
         //   flex-wrap: wrap;
      }

      @media (max-width: toEm(740)) {
         flex-direction: column;

         &::before,
         &::after {
            display: none;
         }
      }
   }

   // .contacts-page__content
   &__content {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      flex: 1 1 50%;
      @include adaptiveValue('gap', 50, 25);

      &::before {
         content: "";
         position: absolute;
         top: 50%;
         left: 10%;
         background: url("/src/assets/img/png/arrow.webp") 0 0 / cover no-repeat;
         width: toRem(150);
         height: toRem(170);

         @media (max-width: toEm($mobile)) {
            display: none;
         }
      }
   }

   &__form {
      flex: 1 1 50%;
      // @include adaptiveValue('padding',20,5);
      // overflow: hidden;
      // max-width: 100%;
   }

   // .contacts-page__title
   &__title {
      @include adaptiveValue('font-size', 64, 40);
      font-weight: 700;
      max-width: toRem(650);
      // text-align: center;

      span {
         color: $brandDark;
      }
   }

   // .contacts-page__image
   &__image {
      width: toRem(255);
      height: toRem(348);

      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   // .contacts-page__form
   &__form {}
}

.form-contact {
   // position: relative;
   align-items: start;
   gap: toRem(24);
   max-width: toRem(600);
   // .form-contacts__top
   &__fields {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: toRem(24);
      margin-bottom: toRem(24);

      @media (max-width: toEm(1250)) {
         flex-direction: column;
      }
   }

   // .form-contacts__field
   &__field {
      display: flex;
      flex-direction: column;
      gap: toRem(10);
      width: 100%;
   }

   &__input {
      background-color: rgba(57, 62, 70, 0.5);
      border-radius: toRem(16);
      line-height: 150%;
      padding-block: toRem(16);
      padding-inline-start: toRem(24);
      @include adaptiveValue('font-size',18,13);
      font-weight: 300;
      color: $white;
      width: 100%;
      min-width: 0;
      max-width: toRem(288);


      &::placeholder {
         opacity: 1;
         transition: opacity 0.3s;
         font-weight: 700;
      }

      &:focus {
         outline: none;
         box-shadow: 0 0 0 2px $brandDark;
         &::placeholder {
            opacity: 0;
         }
      }
   }

   &__button {
      @media (max-width: toEm(440)) {
         width: 100%;
         justify-content: center;
      }
   }

   &__area {
      background-color: rgba(57, 62, 70, 0.5);
      border-radius: toRem(16);
      min-height: toRem(280);
      @include adaptiveValue('font-size',18,16);
      font-weight: 300;
      @include adaptiveValue('padding-block',16,10);
      @include adaptiveValue('padding-inline',24,10);
      resize: none;
      color: $white;

      &::placeholder {
         opacity: 1;
         transition: opacity 0.3s;
         font-weight: 700;
      }

      &:focus {
         &::placeholder {
            opacity: 0;
         }
       }
   }

   // .form-contacts__text
   &__text {
      // display: flex;
      // flex-direction: column;
      gap: toRem(10);
      margin-bottom: toRem(24);
   }
}

textarea {
   &.form-contact__area {
      &:focus {
         outline: none;
         box-shadow: 0 0 0 2px $brandDark;
      }
   }
}

input:invalid {
   box-shadow: none;
   outline: none;
}
