@use '../settings/settings' as *;
@use '../settings/_mixins.scss' as *;


.modal-overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5);
   pointer-events: none;
   opacity: 0;
   visibility: hidden;
   transition: opacity 0.3s, visibility 0.3s;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 100;

   &.is-open {
      opacity: 1;
      pointer-events: auto;
      visibility: visible;
   }
}

.no-scroll {
   overflow: hidden;
   touch-action: none;
}

.modal-window {
   position: relative;
   background-color: $bgPrimary;
   border-radius: toRem(16);
   @include adaptiveValue('padding',40,20);
   width: 90%;
   max-width: toRem(800);
   height: auto;
   max-height: 100vh;
   overflow-y: auto;
   pointer-events: auto;
   z-index: 1;
   transform: translateY(toRem(-30));
   transition: transform 0.3s ease, opacity 0.3s ease;

   .is-open & {
      transform: translateY(0);
      opacity: 1;
   }
}

.modal-close {
   position: absolute;
   @include adaptiveValue('top',0,0);
   @include adaptiveValue('right',20,10);
   font-size: toRem(40);
   color: $white;
}

.success-active {
   background-color: $bgSecondary;
   color: $brandDark;
   padding: toRem(30);
   border-radius: toRem(20);
}


/* Унікальний Overlay для статусів */
.status-overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.75);
   /* Трохи темніший фон */
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 9999;
   /* Максимальний пріоритет, щоб бути поверх усього */
   opacity: 0;
   visibility: hidden;
   transition: all 0.3s ease;

   &.is-visible {
      opacity: 1;
      visibility: visible;

      .status-modal-content {
         transform: scale(1);
      }
   }
}

.status-modal-content {
   background: $grey;
   padding: toRem(30);
   border-radius: toRem(16);
   text-align: center;
   transform: scale(0.7);
   transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
   /* Ефект "вистрибування" */

   &.status-text {
      font-size: toRem(40);
   }
}


/* Стилі для тексту */
#status-text {
   font-size: toRem(22);
   margin: 0;
}

.status-success #status-text {
   color: $brandDark;
}

.status-error #status-text {
   color: #e74c3c;
}

/* Блокування кнопки */
#submit-btn:disabled {
   opacity: 0.6;
   cursor: not-allowed;
}


