@use '../settings/settings' as *;
@use '../settings/_mixins.scss' as *;


.projects-page {
   @include adaptiveValue('padding-top', 250, 150);
   @include adaptiveValue('padding-bottom', 120, 50);
   position: relative;
   // background-color: $bgPrimary;
   background-color: $bgSecondary;

   &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("../../assets/img/png/works-img.webp");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0.3;
   }

   &__header {

   &.block-header--works {
      opacity: 0;
      scale: 0;
      transition: opacity 0.8s, scale 0.8s;
      will-change: transition, opacity, scale;
      @include adaptiveValue('margin-bottom', 100, 50);

      [init-page-loader="ready"] & {
         opacity: 1;
         scale: 1;
      }
   }

      .mouse-scroll {
         fill: $brandSecondary;
      }
   }

   &__wrapper {
      display: flex;
      flex-direction: column;
      gap: toRem(50);
      opacity: 0;
      scale: 0;
      translate: 0 toRem(60);
      transition: opacity 1.2s, translate 1.2s ease-in-out, scale 1.2s;

      [init-page-loader="ready"] & {
         opacity: 1;
         scale: 1;
         translate: 0 0;
      }
   }
}

.menu-projects {

   // .menu-projects__list
   &__list {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: toRem(16);
      flex-wrap: wrap;

      @media (max-width: toEm(525)) {
         display: flex;
         overflow: auto;
         flex-wrap: nowrap;
         margin-inline: toRem(-15);
         padding-inline: toRem(15);
      }
   }

   // .menu-projects__item
   &__item {
      flex-shrink: 0;
   }

   // .menu-projects__button
   &__button {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: toRem(18);
      font-weight: 700;
      text-transform: capitalize;
      background-color: rgba(57, 62, 70, 0.5);
      padding-block: toRem(10);
      // @include adaptiveValue('padding-inline',32,30);
      padding-inline: toRem(32);
      backdrop-filter: blur(8px);
      border-radius: toRem(24);
      transition: all 0.3s;

      &.active {
         background-color: $brandDark;
         box-shadow:
            0 0 14px rgba(20, 120, 80, 0.40),
            0 0 28px rgba(20, 120, 80, 0.25),
            0 0 45px rgba(20, 120, 80, 0.15);
      }
   }
}

.carts-project {

   @include hover {
      &:has(.card:hover) .card:not(:hover) {
         opacity: 0.2;
      }
   }

   // .carts-project__container
   &__inner {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(min(toRem(540), 100%), 1fr));
      @include adaptiveValue('row-gap', 60, 30);
      @include adaptiveValue('column-gap', 80, 30);
   }
}
