@use '../settings/settings' as *;
@use '../settings/_mixins.scss' as *;


.projects-page {
   @include adaptiveValue('padding-top', 250, 150);
   @include adaptiveValue('padding-bottom', 120, 50);
   position: relative;
   // background-color: $bgPrimary;
   background-color: $bgSecondary;

   &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("/src/assets/img/png/works-img.webp");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0.2;
   }

   &__header {

   &.block-header--works {
      opacity: 0;
      scale: 0;
      transition: opacity 0.8s, scale 0.8s;
      will-change: transition, opacity, scale;
      @include adaptiveValue('margin-bottom', 100, 50);

      [init-page-loader="ready"] & {
         opacity: 1;
         scale: 1;
      }
   }

      .mouse-scroll {
         fill: $brandSecondary;
      }
   }

   &__wrapper {
      display: flex;
      overflow: hidden;
      flex-direction: column;
      gap: toRem(50);
      opacity: 0;
      scale: 0;
      translate: 0 toRem(60);
      transition: opacity 1.2s, translate 1.2s ease-in-out, scale 1.2s;

      [init-page-loader="ready"] & {
         opacity: 1;
         scale: 1;
         translate: 0 0;
      }
   }
}

// ===========================================================================================
// -----------------------------
// filter
// -----------------------------
.filter {
   overflow: hidden;
   opacity: 0;
   scale: 0;
   transition: opacity 0.8s, scale 0.8s;
   will-change: transition, opacity, scale;
   transition: opacity 1.2s, translate 1.2s ease-in-out, scale 1.2s;

   [init-page-loader="ready"] & {
      opacity: 1;
      scale: 1;
      translate: 0 0;
   }
   // .filter__controls
   &__controls {}

   // .filter__menu
   &__menu {}

   // .filter__body
   &__body {
      @include hover {
         &:has(.card:hover) .card:not(:hover) {
            opacity: 0.4;
         }
      }
   }

   // .filter__footer
   &__footer {}
}

.menu-filter {
   display: flex;
   align-items: center;
   @include adaptiveValue('column-gap', 20, 10);
   @include adaptiveValue('row-gap', 20, 10);
   flex-wrap: wrap;

   @media (max-width: toEm(632)) {
      justify-content: center;
   }


   // .menu-filter__item
   &__item {
      flex-shrink: 0;
   }

   // .menu-filter__button
   &__button {
      background-color: $bgPrimary;
      border-radius: toRem(40);
      @include adaptiveValue('padding-block', 10, 6);
      @include adaptiveValue('padding-inline', 32, 15);
      color: $white;
      font-weight: 700;

      &.is-active {
         background-color: $brandDark;
      }
   }
}

.footer-filter {

   // .footer-filter__button
   &__button {}
}



