@use "sass:math";
@use './settings/settings' as *;
@use './settings/_mixins.scss' as *;

.components {
      padding-block: toRem(100);
      background-color: $bgPrimary;
   // .components__container
   &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: toRem(50);
      padding-top: toRem(50);
   }
}


// ===========================================================================================
// -----------------------------
// Buttons-active
// -----------------------------
.icon-menu {
   position: relative;
   width: toRem(30);
   height: toRem(20);
   z-index: 10;
   flex-shrink: 0;

   &::before,
   &::after {
      content: "";
      position: absolute;
      right: 0;
      height: toRem(3);
      border-radius: toRem(10);
      background-color: $brandPrimary;
      transition: all 0.3s;
   }

   &::before {
      top: 0;
      width: 100%;
   }

   &::after {
      bottom: 0;
      width: 50%;
   }

   span {
      position: absolute;
      top: 50%;
      right: 0;
      translate: 0 -50%;
      background-color: $brandPrimary;
      width: 75%;
      height: toRem(3);
      border-radius: toRem(10);
      transition: all 0.3s;
   }

   @media (min-width: toEm(651)) {
      display: none;
   }
}

.menu-open {
   .icon-menu {
      &::before {
         top: 50%;
         rotate: 45deg;
         translate: 0 -50%;
      }

      &::after {
         top: 50%;
         rotate: -45deg;
         translate: 0 -50%;
         width: 100%;
      }

      span {
         width: 0;
      }
   }
}


// ===========================================================================================
// -----------------------------
// Buttons
// -----------------------------
.button {
   position: relative;
   font-family: "Ubuntu", sans-serif;
   font-size: toRem(20);
   // font-weight: 700;
   text-transform: capitalize;
   color: $bgPrimary;
   display: inline-flex;
   align-items: center;
   flex-direction: row-reverse;
   gap: toRem(16);
   padding-block: toRem(16);
   padding-inline: toRem(32);
   border-radius: toRem(32);
   line-height: 1.2;
   height: toRem(56);
   text-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
   overflow: hidden;
   transition: all 0.3s;
   z-index: 2;
   flex-shrink: 0;

   &::before {
      transition: transform 0.4s cubic-bezier(.25, .46, .45, .94);
   }

   &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 150%;
      height: 120%;
      translate: toRem(-600) toRem(0);
      transition: translate 0.3s;
      overflow: hidden;
      z-index: -1;
   }

   &--green {
      background-color: $brandPrimary;
      border: toRem(2) solid $brandPrimary;

      &::after {
         background-color: $bgPrimary;
      }

      @include hover {
         &:hover {
            color: $white;
         }
      }
   }

   &--white {
      background-color: $white;
      border: toRem(2) solid $brandPrimary;

      &::after {
         background-color: $bgPrimary;
      }

      @include hover {
         &:hover {
            // text-shadow: 0 4px 3px rgba(0, 0, 0, 0.4);
            text-shadow: 0 3px 3px rgba(255, 255, 255, 0.4);
            color: $white;
         }
      }
   }

   &--dark {
      // border-radius: toRem(40) toRem(0) toRem(40) toRem(0);
      border: toRem(2) solid $brandPrimary;
      background-color: $bgSecondary;
      color: $white;
      // border: toRem(2) solid $brandPrimary;
      text-shadow: 0 3px 3px rgba(255, 255, 255, 0.4);

      &::after {
         background-color: $white;
      }

      @include hover {
         &:hover {
            text-shadow: 0 4px 3px rgba(0, 0, 0, 0.4);
            color: $bgPrimary;
         }
      }
   }

   @include hover {
      &:hover {
         &::before {
            // transform: translateX(6px);
            animation: arrowMove 0.6s ease forwards infinite;
         }

         &::after {
            translate: 0 0;
         }
      }
   }
}

.button-regular {
   font-family: "Ubuntu", sans-serif;
   font-size: toRem(20);
   text-transform: capitalize;
   color: $bgPrimary;
   display: inline-flex;
   align-items: center;
   flex-direction: row-reverse;
   gap: toRem(16);
   padding-block: toRem(16);
   padding-inline: toRem(32);
   border-radius: toRem(32);
   border: toRem(2) solid $brandPrimary;
   line-height: 1.2;
   height: toRem(56);
   background-color: $brandPrimary;
   text-shadow: 0 4px 3px rgba(0, 0, 0, 0.4);
   transition: all 0.3s;

   // .button-sent-message--icon-i-send
   &--icon-send {
      &::before {
         font-size: toRem(24);
         transition: translate 0.3s;
         will-change: translate;
      }

      @include hover {
         &:hover {
            color: $white;
            background-color: transparent;

            &::before {
               // animation: jumpArrow 0.6s ease-in-out infinite;
               translate: toRem(4) toRem(-4);
            }
         }
      }
   }

   &--view {
      @include hover {
         &:hover {
            color: $white;
            background-color: transparent;

            &::before {
               // animation: jumpArrow 0.6s ease-in-out infinite;
               translate: toRem(4) toRem(-4);
            }
         }
      }
   }

   &--subscribe {
      color: $white;
      border: toRem(2) solid $brandPrimary;
      background-color: $bgPrimary;
      transition: all 0.3s;

      @include hover {
         &:hover {
            color: $bgPrimary;
            background-color: $white;
         }
      }
   }
}

.button-figure {
   display: inline-grid;
   position: relative;
   font-family: "Ubuntu", sans-serif;
   padding-block: toRem(16);
   @include adaptiveValue('padding-inline', 48, 32);
   border: toRem(3) solid $brandPrimary;
   background-color: $bgSecondary;
   color: $brandSecondary;
   text-transform: capitalize;
   @include adaptiveValue('font-size', 32, 22);
   line-height: 1.12;
   border-radius: toRem(20);
   align-items: center;
   gap: toRem(16);
   flex-direction: row-reverse;
   text-shadow: 0 3px 6px rgba(255, 255, 255, 0.4);
   transition: all 0.3s;
   z-index: 1;
   overflow: hidden;
   transition: opacity 0.5s;

   &::before,
   &::after {
      content: "";
      position: absolute;
      top: -50%;
      width: 150%;
      height: 200%;
      background-color: $butHovGreen;
      z-index: -1;
      transition: all 0.4s;
      border-radius: toRem(60);
      opacity: 0.5;
   }

   &::before {
      left: 0;
      translate: -100% 0;
   }

   &::after {
      right: 0;
      translate: 100% 0;
   }

   &--green {
      color: $brandPrimary;

      &::before {
         font-size: toRem(26);
      }
   }

   &--demo {
      position: relative;
   }

   &--small {
      height: toRem(28);
   }

   &:active {
      &::before,
      &::after {
         // background-color: $blue;
         background-color: $brandDark;
      }
   }

   @include hover {
      color: $white;
      text-shadow: 0 4px 10px rgba(255, 255, 255, 0.8);

      &::before,
      &::after {
         translate: 0 0;
         opacity: 1;
         transform: skew(0);
      }
   }
}

.button-download {
   font-family: "Ubuntu", sans-serif;
   font-size: toRem(20);
   color: $bgPrimary;
   padding-block: toRem(16);
   // padding-inline: toRem(32);
   @include adaptiveValue('padding-inline', 32, 20);
   background-color: $white;
   border-radius: toRem(32);
   border: toRem(1) solid $white;
   display: inline-flex;
   align-items: center;
   gap: toRem(16);
   flex-direction: row-reverse;
   line-height: 1.2;
   transition: all 0.3s;

   &::before {
      font-size: toRem(22);
   }

   @media (any-hover: hover) and (any-pointer: fine) {
      &:hover {
         background-color: transparent;
         color: $white;
         border: toRem(1) solid $brandPrimary;

         &::before {
            animation: jumpArrow 0.6s ease-in-out infinite;
         }
      }
   }
}

.button-active {
   position: relative;
   display: inline-grid;
   border-radius: toRem(10);
   padding-inline: toRem(40);
   @include adaptiveValue('padding-block', 10, 5);
   background-color: transparent;
   text-transform: uppercase;
   letter-spacing: toRem(1.5);
   z-index: 5;
   overflow: hidden;
   transition: translate 0.5s ease-in-out, opacity 0.5s;
   background-color: transparent;

   &--demo {
      border: toRem(2) solid $brandSecondary;

      &::before,
      &::after {
         content: "";
         position: absolute;
         top: -50%;
         width: 150%;
         background-color: $blue;
         height: 200%;
         transition: translate 0.5s ease-in-out, opacity 0.5s;
         z-index: -5;
         opacity: 0.6;
      }

      &::before {
         left: 0;
         translate: -90% 0;
         border-radius: toRem(40);
      }

      &::after {
         right: 0;
         translate: 90% 0;
         border-radius: toRem(40);
      }

      &:active {

         &::before,
         &::after {
            background-color: $brandDark;
         }
      }
   }

   &--code {
      border: toRem(2) solid $butHovGreen;
      transition: color 0.3s;

      &::before,
      &::after {
         content: "";
         position: absolute;
         top: -50%;
         width: 150%;
         background-color: $brandSecondary;
         height: 200%;
         transition: translate 0.5s ease-in-out, opacity 0.5s;
         z-index: -5;
         opacity: 0.6;
      }

      &::before {
         left: 0;
         translate: -90% 0;
         border-radius: toRem(40);
      }

      &::after {
         right: 0;
         translate: 90% 0;
         border-radius: toRem(40);
      }

      &:active {

         &::before,
         &::after {
            background-color: $blueLight;
         }
      }
      @include hover {
         color: $black;
      }
   }


   @media (any-hover: hover) and (any-pointer: fine) {
      &:hover {

         &::before,
         &::after {
            translate: 0 0;
            opacity: 1;
         }
      }
   }
}

.button-arrow {
   background-color: $bgPrimary;
   @include adaptiveValue('padding-block',18,10);
   @include adaptiveValue('padding-inline',23,12);
   aspect-ratio: 1;
   flex-shrink: 0;
   backdrop-filter: blur(20px);
   transition: all 0.4s;
   border: toRem(1) solid $brandDark;
   display: flex;
   justify-content: center;
   align-items: center;

   &--left {
      border-radius: toRem(40) toRem(0) toRem(0) toRem(40);
      &::before {
         rotate: 180deg;
      }
      @include hover {
         &::before {
            translate: toRem(-8) toRem(0);
         }
      }
   }

   &--right {
      border-radius: toRem(0) toRem(40) toRem(40) toRem(0);
      @include hover {
        &::before {
            translate: toRem(8) toRem(0);
        }
      }
   }

   &::before {
      @include adaptiveValue('font-size',26,20);
      transition: translate 0.3s, animation 0.4s ease;
   }

   @include hover {
      background-color: $butHovGreen;
      &::before {

      }
      &:active {
         background-color: $brandDark;
      }
   }
}

.button-media {
   position: relative;
   display: inline-flex;
   align-items: center;
   justify-content: space-between;
   flex-direction: row-reverse;
   gap: toRem(16);
   background-color: $bgPrimary;
   padding-block: toRem(16);
   padding-inline: toRem(24);
   border-radius: toRem(20);
   border-left: toRem(1) solid $brandDark;
   border-bottom: toRem(1) solid $brandDark;
   text-transform: capitalize;
   overflow: hidden;
   transition: all 0.4s;
   color: $white;
   z-index: 10;

   &::before {
      z-index: 10;
      font-size: toRem(20);
   }

   &::after {
      content: "";
      position: absolute;
      top: -20%;
      left: 0;
      width: 150%;
      height: 150%;
      translate: -100% 0;
      background-color: $brandDark;
      transition: translate 0.3s;
      z-index: -1;
   }

   @include hover {
      &::after {
            translate: 0 0;
         }
      .button-media__span {
            &::before {
               animation: jumpArrow 0.6s ease-in-out infinite;
            }
         }
   }
}

.arrow-point {
   position: absolute;
   top: 50%;
   left: 50%;
   translate: -50% 0;
   background: rgba(218, 197, 167, 0.05);
   backdrop-filter: blur(30px);
   padding-block: toRem(8);
   padding-inline: toRem(12);
   border: toRem(1) solid $butHovGreen;
   border-radius: 50%;
   width: toRem(46);
   aspect-ratio: 1;
   display: flex;
   justify-content: center;
   align-items: center;
   color: $white;
   rotate: 45deg;
   transition: all 0.3s;
   rotate: 45deg;
   animation: jumpArrow 0.8s forwards infinite;

   @media (min-width: toEm(859.98)) {
     display: none;
   }
}

.btn-action-more {
   font-family: "Ubuntu", sans-serif;
   font-size: toRem(20);
   text-transform: capitalize;
   color: $bgPrimary;
   padding-block: toRem(16);
   padding-inline: toRem(32);
   border-radius: toRem(32);
   border: toRem(2) solid $brandPrimary;
   background-color: $brandPrimary;
   text-shadow: 0 4px 3px rgba(0, 0, 0, 0.4);
   transition: all 0.3s;
   font-weight: 500;

   @include hover {
     background-color: transparent;
     color: $white;
   }
}

.btn-action-less {
   color: $white;
   font-size: toRem(20);
   border: toRem(2) solid $brandPrimary;
   background-color: $bgPrimary;
   transition: all 0.3s;
   padding-block: toRem(16);
   padding-inline: toRem(32);
   border-radius: toRem(32);
   text-shadow: 0 4px 3px rgba(0, 0, 0, 0.4);
   font-weight: 500;

   @include hover {
     background-color: $white;
     color: $black;
   }
}

// ===========================================================================================
// -----------------------------
// block-header
// -----------------------------
.block-header {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: toRem(16);
   @include reveal((0, toRem(30)));


   &--margin {
      @include adaptiveValue('margin-bottom', 60, 30);
   }

   // .block-header__title
   &__title {
      position: relative;
      font-family: "Ubuntu", sans-serif;
      @include adaptiveValue('font-size', 64, 40);
      color: $white;
      border-bottom: toRem(2) solid $brandPrimary;
      padding-bottom: toRem(16);
      text-align: center;
      font-weight: 600;

      &::before,
      &::after {
         content: "";
         position: absolute;
         width: toRem(10);
         height: toRem(10);
         border-radius: 50%;
         background-color: $brandPrimary;
      }

      &::before {
         top: 100%;
         translate: -50% -43%;
         left: 0;
      }

      &::after {
         top: 100%;
         translate: 0 -43%;
         right: 0;
      }

      span {
         color: $brandDark;
      }
   }

   // .block-header__text
   &__text {
      text-align: center;
      max-width: toRem(500);
   }

   &__content {
      display: flex;
      flex-direction: column;
      gap: toRem(20);
      align-items: center;
   }
}

.mouse-scroll {
   position: relative;
   width: toRem(32);
   @include adaptiveValue('height',140,90);
   fill: $orange;
}

.logo {
   display: flex;
   align-items: center;
   z-index: 5;
   flex-shrink: 0;

   &__image {
      width: toRem(77);
      height: toRem(42);
      fill: $brandPrimary;
   }

   &__title {
      font-size: toRem(20);
      font-weight: 500;
   }

   @media (max-width: toEm(650)) {
      flex-grow: 1;
   }
}

// ===========================================================================================
// -----------------------------
// cart-info
// -----------------------------
.cart-info {
   border: toRem(4) solid $white;
   border-radius: toRem(160) toRem(0) toRem(160) toRem(0);
   box-shadow: -4px -4px 2px 0px rgba(18, 247, 214, 1);
   max-width: toRem(340);

   &__inner {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: toRem(32);
      @include adaptiveValue('padding-inline-start', 24, 20);
      @include adaptiveValue('padding-inline-end', 69, 50);
      padding-block: toRem(37);
      // @include adaptiveValue('padding-block',37,34);
   }

   // .cart-info__top
   &__top {
      // align-self: center;
      display: flex;
      align-items: center;
      flex-direction: column;
      padding-inline-start: toRem(53);

      >* {
         margin-bottom: toRem(16);

         &:last-child {
            margin-bottom: toRem(0);
         }
      }
   }

   // .cart-info__logo
   &__logo {
      aspect-ratio: 1;
      width: toRem(96);
      overflow: hidden;

      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
         border-radius: 50%;
         border: toRem(2) solid $brandPrimary;
      }
   }

   // .cart-info__title
   &__title {
      font-size: toRem(32);
      font-weight: 500;
      margin-bottom: toRem(5);
   }

   // .cart-info__label
   &__label {
      font-size: toRem(14);
   }

   // .cart-info__body
   &__body {}
}

.body-info {
   font-size: toRem(14);
   font-weight: 500;


   &__content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: toRem(16);
   }

   // .body-info__skills
   &__skills {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: toRem(16);
      align-items: flex-start;
      text-transform: uppercase;

      span {
         color: $bgPrimary;
         background-color: $brandPrimary;
         padding-inline: toRem(8);
         border-radius: toRem(8);
      }
   }

   &__email,
   &__location,
   &__schedulle,
   &__link {
      display: flex;
      align-items: center;
      gap: toRem(16);

      &::before {
         color: $brandPrimary;
      }
   }
}

// ===========================================================================================
// -----------------------------
// items
// -----------------------------
.approach-item {
   background-color: $brandSecondary;
   border-radius: toRem(8);
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: toRem(8);
   width: 50%;
   border-left: toRem(8) solid $blue;
   @include stagger($count:6);
   @include reveal((0, toRem(30)), 1s);

   @media (max-width: toEm(1040)) {
     width: 100%;
   }
   // width: toRem(400);

   &:nth-child(odd) {
      align-self: flex-end;
      padding-right: toRem(0);
   }
   &:nth-child(even) {
      align-self: flex-start;
      padding-left: toRem(0);
   }

   // .approach-item__inner
   &__inner {
      @include adaptiveValue('padding', 20, 10);
      @include adaptiveValue('row-gap', 30, 15);
   }

   &__top {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: toRem(10);

      @media (max-width: toEm(360)) {
      //   flex-direction: column;
      }
   }

   // .approach-item__icon
   &__icon {
      width: toRem(40);
      aspect-ratio: 1;
      fill: $gold;
   }

   // .approach-item__text
   &__text {
      transition: height 0.35s ease;
      will-change: height;
      padding-top: toRem(30);
      color: $bgSecondary;
      text-align: center;
   }
}

.header-approach {
   display: flex;
   align-items: center;
   flex-direction: column;
   gap: toRem(10);
   // .header-approach__title
   &__title {
      @include adaptiveValue('font-size', 24, 20);
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: toRem(1.5);
      color: $black;
   }

   // .header-approach__icon
   &__icon {
      background-color: $bgPrimary;
      border-radius: 50%;
      width: toRem(40);
      height: toRem(40);
      // border: toRem(1) solid $brandDark;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      &::before {
         font-size: toRem(20);
         color: $white;
         will-change: rotate;
         transition: rotate 0.4s ease;
      }
   }
}

.item-step {
   position: relative;
   width: 50%;
   @include adaptiveValue('padding-right', 99.5, 40);
   padding-left: toRem(0);
   counter-increment: item;
   transition: opacity 0.6s,transform 0.6s ease;

   &::before {
      content: "";
      position: absolute;
      right: toRem(-1);
      width: toRem(1);
      height: 100%;
      background-color: $butHovGreen;
   }

   &::after {
      content: counter(item, decimal-leading-zero);
      position: absolute;
      top: 50%;
      right: 0;
      translate: 50% -50%;
      background-color: $bgPrimary;
      border: toRem(1) solid $brandPrimary;
      border-radius: 50%;
      width: toRem(50);
      aspect-ratio: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      backdrop-filter: blur(30px);
      opacity: 0;
      transform: scale(0.2);
      transition: opacity 1s, transform 1s;
   }

   &:last-child {
      &::before {
         height: 50%;
      }
   }

   &.animate {
      &::after {
         opacity: 1;
         transform: scale(1);
      }
   }

   @media (max-width: toEm(600)) {
      width: 100%;
      padding-right: toRem(0);

      &::before {
         display: none;
      }

      &::after {
         left: 50%;
         top: 0;
         outline: none;
         translate: -50% -50%;
      }

      .item-step__inner {
         align-items: center;
      }
   }

   // .item-step__inner
   &__inner {
      background-color: $bgSecondary;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      border-radius: toRem(30);
      @include adaptiveValue('gap', 20, 10);
      @include adaptiveValue('padding', 50, 25);
      transition: opacity 0.6s,translate 0.4s ease-in-out;
      @include reveal((0, toRem(50)), 1s);
   }

   // .item-step__title
   &__title {
      font-family: "Ubuntu", sans-serif;
      font-size: toRem(24);
      font-weight: 500;
   }

   // .item-step__text
   &__text {
      @include adaptiveValue('font-size', 18, 16);
      color: $brandPrimary;

      @media (max-width: toEm(600)) {
         text-align: center;
      }
   }

   // .item-step__item
   &__item {
      display: flex;
      align-items: flex-start;
      gap: toRem(10);

      &::before {
         content: "";
         width: toRem(4);
         height: toRem(4);
         background-color: $brandDark;
         border-radius: 50%;
         flex-shrink: 0;
         margin-top: toRem(6);
      }

      &:not(:last-child) {
         margin-bottom: toRem(12);
      }
   }
}

.item-step:nth-child(odd) {
   @include adaptiveValue('padding-left', 99.5, 40);
   padding-right: toRem(0);
   align-self: flex-end;

   &::before {
      left: auto;
      left: toRem(0);
   }

   &::after {
      left: 0;
      translate: -50% -50%;
      right: auto;
   }

   @media (max-width: toEm(600)) {
      padding-left: toRem(0);

      &::after {
         // translate: 0 0;
         left: 50%;
      }
   }
}

.skill-item {
   background-color: $brandSecondary;
   border-radius: toRem(8);
   border-left: toRem(8) solid $blue;
   padding-block: toRem(16);
   padding-inline: toRem(24);
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: toRem(8);
   opacity: 0;
   transition: opacity 0.4s, translate 0.4s ease;
   translate: 0 toRem(50);

   [init-page-loader="ready"] & {
     opacity: 1;
     translate: 0 0;
   }

   &__icon {
      width: toRem(32);
      aspect-ratio: 1;
   }

   // .skill-item__title
   &__title {
      font-size: toRem(24);
      text-transform: capitalize;
      color: $bgPrimary;
   }

   // .skill-item__skills
   &__skills {
      color: $grey;

      span {
         position: relative;

         &:not(:last-child) {
            &::after {
               content: "";
               position: absolute;
               top: 50%;
               left: 100%;
               translate: toRem(3) -50%;
               width: toRem(2);
               aspect-ratio: 1;
               background-color: $grey;
            }
         }
      }
   }
}

// ===========================================================================================
// -----------------------------
// card
// -----------------------------
.card-container {
   display: grid;
   grid-template-columns: repeat(auto-fill,minmax(min(toRem(550),100%),1fr));
   gap: toRem(30);

   &:has(.card:hover) .card:not(:hover) {
         opacity: 0.2;
      }
}

.card {
   background: $bgPrimary;
   transition: translate 0.4s ease, box-shadow 0.4s ease, opacity 0.4s;
   will-change: translate, opacity;
   box-shadow: 0 0 14px rgba(20, 120, 80, 0.40),
         0 0 28px rgba(20, 120, 80, 0.25),
         0 0 45px rgba(20, 120, 80, 0.15);
   cursor: pointer;
   border-radius: toRem(30);

   &--slide {
         translate: 0 0 !important;
         box-shadow: none;
         border-radius: none;
         .card__image {
            // border-radius: none;
            overflow: visible;
         }
         @include hover {
            .card__content {
               translate: toRem(50) 0 !important;
            }
         }
      }

   @include hover {
      translate: 0 toRem(-2);
      .card__content {
         opacity: 1;
         translate: toRem(50) toRem(-50);
         pointer-events: auto;
         z-index: 200;
      }
   }

   // .card__inner
   &__inner {
      position: relative;
   }

   // .card__image
   &__image {
      position: relative;
      aspect-ratio: 16 / 9;
      overflow: hidden;
      width: 100%;
      height: 100%;
      transition: transform 0.5s ease;
      border-radius: toRem(30);
      overflow: hidden;

      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
         filter: brightness(0.9);
         transition: scale 0.6s;
         will-change: scale;
         cursor: pointer;
      }
   }

   // .card__content
   &__content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: toRem(15);
      position: absolute;
      top: 0;
      left: 0;
      background-color: $grey;
      // padding: toRem(40);
      @include adaptiveValue('padding',40,20);
      transition: translate 0.6s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.6s ease;
      opacity: 0;
      pointer-events: none;
      height: auto;
      max-width: toRem(430);
      border-radius: toRem(20);
      overflow: hidden;
      will-change: opacity;
      box-shadow: 0 0 14px rgba(20, 120, 80, 0.40),
            0 0 28px rgba(20, 120, 80, 0.25),
            0 0 45px rgba(20, 120, 80, 0.15);
      @media (max-width: toEm(859)) {
         display: none;
      }
   }

   &__title {
      @include adaptiveValue('font-size', 24, 20);
      color: $brandDark;
      text-transform: capitalize;
      font-weight: 600;
      line-height: 1;
      border-bottom: toRem(1) solid $blue;
      padding-bottom: toRem(10);

      span {
         font-size: toRem(14);
         color: $white;
         text-transform: lowercase;
      }
   }

   &__text {
      @include adaptiveValue('font-size', 16, 14);
   }
}

// ===========================================================================================
// -----------------------------
// sheet-overlay
// -----------------------------
.sheet-overlay {
   position: fixed;
   inset: 0;
   background: rgba(0, 0, 0, 0.5);
   opacity: 0;
   pointer-events: none;
   transition: opacity 0.4s, translate 0.4s ease-in-out;
   translate: 0 100%;
   z-index: 1000;
   will-change: opacity,translate;

   &.active-sheet {
      opacity: 1;
      backdrop-filter: blur(2px);
      pointer-events: auto;
      translate: 0 0;
   }
}

.sheet {
   position: fixed;
   left: 0;
   right: 0;
   bottom: 0;
   background: $bgPrimary;
   border-radius: 16px 16px 0 0;
   translate: 0 100%;
   max-height: 80vh;
   display: flex;
   flex-direction: column;
   transition: translate 0.6s cubic-bezier(.25, .8, .25, 1),
               opacity 0.6s ease;
   opacity: 0;
   will-change: translate,opacity;

   &.active-sheet {
      opacity: 1;
      translate: 0 0;
      z-index: 2000;
   }
   // .sheet__handle
   &__handle {
      width: 40px;
      height: 4px;
      background: $brandDark;
      border-radius: 2px;
      margin: 10px auto;
   }

   // .sheet__body
   &__body {
      padding: toRem(20);
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      gap: toRem(15);
      align-items: flex-start;
   }
}

// ===========================================================================================
// -----------------------------
// swiper
// -----------------------------
.swiper {
   width: 100%;
   height: 100%;
   margin-left: auto;
   margin-right: auto;

   &--side {
      margin-top: toRem(10);

      .swiper-slide {
         width: 25%;
         height: 100%;
         opacity: 0.4;
      }

      .swiper-slide-thumb-active {
         opacity: 1;
      }
   }

   &--main {
      height: 100%;
      width: 100%;
   }
}

.swiper-slide {

   img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      aspect-ratio: 16 / 9;
   }
}

