@use "sass:math";
// =====================Pages===========================
@use './pages/about';
@use './pages/contacts';
@use './pages/works';
@use './pages/skills';
@use './pages/modal';
// =====================Settings===========================
@use './settings/settings' as *;
@use './settings/reset';
@use './settings/_mixins.scss' as *;
// =====================Layouts===========================
@use './layouts/header';
@use './layouts/footer';
@use './layouts/page';
// =====================Base===========================
@use './base/animation';
@use './base/fonts';
@use './base/_typography.scss';
// ====================================================
@use './components';


html,body {
   background-color: $bgPrimary;
   margin: 0;
   padding: 0;
}

body {
   font-family: "IBM Plex Mono", sans-serif;
   // @include typography("M", 400, 0);
   line-height: 1.5;
   color: $white;

   &.scroll-lock {
      overflow: hidden;
      touch-action: none;
      overscroll-behavior: none;
   }
   &.no-scroll {
      overflow: hidden;
      height: 100vh;
   }
}

.wrapper {
   min-height: 100%;
   display: flex;
   flex-direction: column;

   >main {
      flex-grow: 1;
   }
}

[class*="__container"] {
   max-width: toRem($containerWidth);
   padding-inline: toRem(math.div($containerPadding, 2));
   margin: 0 auto;
}

html[data-input="mouse"] {
   .menu-dropdown__item--submenu {
      &:hover> {
         .menu-dropdown__submenu {
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
            transform: translateY(0);
         }
      }
   }
}
html[data-input="mouse"] {
   .menu-header__item--submenu:hover {
      >.menu-header__link {
         &::before {
            rotate: 90deg;
         }
      }
   }
}
html[data-input="keyboard"] {
   >  * :focus-visible {
      outline: toRem(2) solid $brandDark;
      outline-offset: toRem(4);
   }
   .is-active {
      .submenu-dropdowne {
         display: block;
      }
      .menu-dropdown__link {
         &::before {
            rotate: 90deg;
         }
      }
   }
}
html[data-input="touch"] {
   .menu-dropdown__item--submenu {
      &.is-active {
         .menu-dropdown__link {
            &::before {
               rotate: 90deg;
            }
         }
      }
   }
}
