@use "sass:math";
// =====================Pages===========================
@use './pages/about';
@use './pages/contacts';
@use './pages/works';
@use './pages/skills';
@use './pages/modal';
@use './pages/policy';
// =====================Settings===========================
@use './settings/settings' as *;
@use './settings/reset';
@use './settings/_mixins.scss' as *;
@use './settings/dataAttributes';
// =====================Layouts===========================
@use './layouts/header';
@use './layouts/footer';
@use './layouts/page';
// =====================Base===========================
@use './base/animation';
@use './base/fonts';
@use './base/_typography.scss';
// ====================================================
@use './components';


html,body {
   background-color: $bgPrimary;
}


html {
   // scrollbar-gutter: stable;
   // scroll-behavior: smooth;
}

body {
   font-family: "IBM Plex Mono", sans-serif;
   line-height: 1.5;
   color: $white;

   // menu-burger
   &.scroll-lock {
      overflow: hidden !important;
      height: 100vh !important;
      touch-action: none;
      overscroll-behavior: none;
   }
   // modal-window
   &.no-scroll {
      overflow: hidden !important;
      height: 100vh;
      touch-action: none;
      .wrapper {
         pointer-events: none;
         user-select: none;
      }
   }
   // sheet-overlay
   &.lock-sheet {
      overflow-y: hidden !important;
      position: fixed;
      width: 100%;
      overscroll-behavior: none;
      left: 0;
   }
}

.wrapper {
   min-height: 100%;
   display: flex;
   flex-direction: column;
   padding-right: var(--lock-padding);
   overflow: clip;

   >main {
      flex-grow: 1;
   }
}

[class*="__container"] {
   max-width: toRem($containerWidth);
   padding-inline: toRem(math.div($containerPadding, 2));
   margin: 0 auto;
}

// ===========================================================================================
// -----------------------------
// data-input
// -----------------------------
// --- 2. MOUSE MODE ---
html[data-input="mouse"] {
   :focus:not(:focus-visible) {
      outline: none;
   }
   .menu-dropdown__item--submenu {
      &:hover> {
         .menu-dropdown__submenu {
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
            transform: translateY(0);
         }
      }
   }
   &:focus-visible {
      .lang-currency__group {
         &::before {
            rotate: 180deg;
         }
      }
   }
}

// --- 1. KEYBOARD MODE ---
html[data-input="keyboard"] {
   :focus-visible {
      outline: toRem(2) solid $brandDark;
      outline-offset: toRem(4);
   }

   & footer :focus-visible {
      // outline-color: $white;
   }
  
   .is-active {
      .submenu-dropdowne {
         display: block;
      }

      .menu-dropdown__link {
         &::before {
            rotate: -90deg;
         }
      }
   }

   .item-product {
      &:focus-within {
         .item-product__actions {
            translate: 0 0;
         }
      }
      &:focus-visible {
         .item-product__title {
            color: $brandDark;
         }
      }
   }
   .card {
      &:focus-within {
        .card__content {
          translate: 0 0;
          opacity: 1;
        }
      }
    }

   :focus-visible {
    .item-categories__title  {
        // color: $brandDark;
        // outline-color: red;
      }
   }
}

// --- 3. TOUCH MODE ---
html[data-input="touch"] {
   .menu-dropdown__item--submenu {
      &.is-active {
         .menu-dropdown__link {
            &::before {
               rotate: -90deg;
            }
         }
      }
   }
   .button-figure {
      &:active {
         &::before,
         &::after {
            background-color: $blue;
         }
      }
   }
   .item-product__actions {
      translate: 0 0;
   }
}









