@use "sass:math";
// =====================Pages===========================
@use './pages/about';
@use './pages/contacts';
@use './pages/works';
@use './pages/skills';
@use './pages/modal';
// =====================Settings===========================
@use './settings/settings' as *;
@use './settings/reset';
@use './settings/_mixins.scss' as *;
// =====================Layouts===========================
@use './layouts/header';
@use './layouts/footer';
@use './layouts/page';
// =====================Base===========================
@use './base/animation';
@use './base/fonts';
@use './base/_typography.scss';
// ====================================================
@use './components';


html,body {
   background-color: $bgPrimary;
   margin: 0;
   padding: 0;
}

html.lock-scroll {
   overflow: hidden !important;
}

// html {
//    &::after {
//       content: "";
//       position: fixed; // краще fixed, щоб перекривало весь екран при скролі
//       top: 0;
//       left: 0;
//       width: 100%;
//       height: 100%;
//       background-color: $bgSecondary;
//       z-index: 100000;
//       pointer-events: none; // щоб не заважало клікам після анімації
//       transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
//    }
//    &[init-page-loader="ready"] {
//       &::after {
//          transform: translateY(-100%);
//          // opacity: 0;
//       }
//    }
// }

body {
   font-family: "IBM Plex Mono", sans-serif;
   // @include typography("M", 400, 0);
   line-height: 1.5;
   color: $white;

   &.scroll-lock {
      overflow: hidden;
      touch-action: none;
      overscroll-behavior: none;
   }
   &.no-scroll {
      overflow: hidden !important;
      height: 100vh;
   }
   &.lock-sheet {
      overflow-y: hidden !important;
   }
}

.wrapper {
   min-height: 100%;
   display: flex;
   flex-direction: column;
   padding-right: var(--lock-padding);

   >main {
      flex-grow: 1;
   }
}

[class*="__container"] {
   max-width: toRem($containerWidth);
   padding-inline: toRem(math.div($containerPadding, 2));
   margin: 0 auto;
}

html[data-input="mouse"] {
   .menu-dropdown__item--submenu {
      &:hover> {
         .menu-dropdown__submenu {
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
            transform: translateY(0);
         }
      }
   }
}
html[data-input="mouse"] {
   .menu-header__item--submenu:hover {
      >.menu-header__link {
         &::before {
            rotate: 90deg;
         }
      }
   }
}
html[data-input="keyboard"] {
   >  * :focus-visible {
      outline: toRem(2) solid $brandDark;
      outline-offset: toRem(4);
   }
   .is-active {
      .submenu-dropdowne {
         display: block;
      }
      .menu-dropdown__link {
         &::before {
            rotate: -90deg;
         }
      }
   }
}
html[data-input="touch"] {
   .menu-dropdown__item--submenu {
      &.is-active {
         .menu-dropdown__link {
            &::before {
               rotate: -90deg;
            }
         }
      }
   }
}



[data-accordion-body] {
   height: 0;
   overflow: hidden;
   transition: height 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
[data-accordion] {
   &.active {
      .header-approach__title {
         color: $blue;
      }
      .header-approach__icon {
         span {
            &::after {
               rotate: -180deg;
            }
         }
      }
   }
}
[data-accordion-icon] {
   .active & {
      background-color: $bgPrimary;
   }
}




