@use "sass:math";

@mixin hover {
   html[data-input="mouse"] & {
      &:hover {
         @content;
      }
   }
}

@mixin tap {
   html[data-input="touch"] &,
   html[data-input="pen"] & {
      &:active {
         @content;
      }
   }
}

@mixin focus {
   html[data-input="keyboard"] & {
      &:focus-visible {
         @content;
      }
   }
}

@mixin link-hover-underline($height, $color) {
   position: relative;

   &::after {
      content: "";
      height: $height;
      background-color: $color;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      transition: opacity 0.3s ease;
      opacity: 0;
   }

   @include hover {
      &::after {
         opacity: 1;
      }
   }
}

@mixin reveal($translate: (0, 30px), $duration: 0.8s, $delay: 0s) {
   opacity: 0;
   will-change: transform, opacity;

   @if length($translate)==2 {
      transform: translate(nth($translate, 1), nth($translate, 2));
   }

   transition: transform $duration ease $delay,
   opacity $duration ease $delay;

   &.animate {
      opacity: 1;
      transform: translate(0, 0);
   }
}

@mixin popIn(
   $duration: 0.6s,
   $delay: 0s,
   $start-scale: 0.2,
   $origin: center,
   $will-change: true) {
   opacity: 0;
   transform: scale($start-scale);
   transform-origin: $origin;

   @if $will-change {
      will-change: transform, opacity;
   }

   transition: opacity $duration ease $delay,
   transform $duration cubic-bezier(0.34, 1.56, 0.64, 1) $delay;

   &.animate {
      opacity: 1;
      transform: scale(1);
   }
}

@mixin stagger($count: 20, $delay-step: 0.1s, $start-delay: 0s) {
   @for $i from 1 through $count {
      &:nth-child(#{$i}) {
         transition-delay: $start-delay + ($i - 1) * $delay-step;
      }
   }
}

@mixin mirror($axis: x) {
   @if $axis ==x {
      transform: scaleX(-1);
   }

   @else if $axis ==y {
      transform: scaleY(-1);
   }

   @else if $axis ==both {
      transform: scale(-1);
   }
}
