@use '../settings/settings' as *;
@use '../settings/mixins' as *;

.footer {
   // display: none;
   background-color: $bgSecondary;
   @include adaptiveValue('padding-top', 110, 50);
   // @include adaptiveValue('padding-bottom',50,25);

   // .footer__body
   &__body {}

   // .footer__bottom
   &__bottom {}
}

.body-footer {

   // .body-footer__container
   &__container {
      display: flex;
      flex-direction: column;
      gap: toRem(40);
      align-items: center;
      border-bottom: toRem(2) solid $bgPrimary;
      padding-bottom: toRem(10);
   }

   // .body-footer__menu
   &__menu {}

   // .body-footer__social
   &__social {}
}

.menu-footer {
   text-align: center;

   // .menu-footer__list
   &__list {
      display: flex;
      align-items: center;
      @include adaptiveValue('column-gap', 48, 20);
      // @include adaptiveValue('row-gap',30,15);
      row-gap: toRem(30);
      flex-wrap: wrap;

      @media (max-width: toEm(650)) {
         flex-direction: column;
         align-items: flex-start;
      }
   }

   // .menu-footer__item
   &__item {}

   // .menu-footer__link
   &__link {
      position: relative;
      display: flex;
      align-items: center;
      gap: toRem(10);
      font-size: toRem(18);

      &::after {
         content: "";
         position: absolute;
         bottom: 0;
         left: 50%;
         translate: -50% 0;
         width: 0;
         height: toRem(2);
         background-color: $brandDark;
         transition: width 0.3s;
      }

      // .menu-footer__link--icon-home
      &--icon-home {}

      // .menu-footer__link--icon-user
      &--icon-user {}

      // .menu-footer__link--icon-phone
      &--icon-phone {}

      @media (any-hover: hover) and (any-pointer: fine) {
         &:hover {
            color: $brandDark;
            text-shadow:
               0 0 8px rgba(218, 197, 167, 0.6),
               0 0 15px rgba(218, 197, 167, 0.3),
               0 0 25px rgba(218, 197, 167, 0.15);

            &::after {
               width: 100%;
            }
         }
      }
   }
}

.social-footer {

   // .social-footer__list
   &__list {
      display: flex;
      align-items: center;
      gap: toRem(24);
      flex-wrap: wrap;
   }

   // .social-footer__item
   &__item {}

   // .social-footer__link
   &__link {
      background-color: $brandPrimary;
      border-radius: 50%;
      padding: toRem(8);
      aspect-ratio: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $black;
      transition: all 0.3s;

      &::before {
         font-size: toRem(22);
      }

      // .social-footer__link--icon-fb
      &--icon-fb {}

      // .social-footer__link--icon-instagram
      &--icon-instagram {}

      // .social-footer__link--icon-watsup
      &--icon-watsup {}

      // .social-footer__link--icon-telegram
      &--icon-telegram {}

      @media (any-hover: hover) and (any-pointer: fine) {
         &:hover {
            background-color: $brandDark;
            translate: 0 toRem(-4);
         }
      }
   }
}

.bottom-footer {
   @include adaptiveValue('padding-block', 50, 25);

   // .bottom-footer__container
   &__container {}

   // .bottom-footer__policy
   &__policy {
      font-family: "Ubuntu", sans-serif;
      font-weight: 300;
      @include adaptiveValue('font-size', 16, 14);

      @media (max-width: toEm(600)) {
         text-align: center;
      }
   }
}
