@use '../settings/settings' as *;
@use '../settings/mixins' as *;


.header {
   // display: none;
   position: relative;
   @include adaptiveValue('padding-block', 30, 15);
   position: fixed;
   width: 100%;
   left: 0;
   top: 0;
   z-index: 100;
   padding-right: var(--lock-padding) !important;
   // transition: transform 0.3s ease;
   // will-change: transform;

   // transform: translateY(-30px);
   // opacity: 0;
   // transition: all 0.8s cubic-bezier(0.2, 1, 0.3, 1);

   // [init-page-loader="ready"] & {
   //    transform: translateY(0);
   //    opacity: 1;
   // }

   &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(26, 30, 35, 1);
      width: 100%;
      height: 100%;
      z-index: -1;
      transition: all 0.3s;
   }

   &.scrolled {
      &::before {
         background: rgba(26, 30, 35, 0.6);
         backdrop-filter: blur(10px);
      }
   }

   &__inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include adaptiveValue('gap', 30, 15);
   }
}

.menu-header {
   color: $white;

   // .menu-header__list
   &__list {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      @include adaptiveValue('gap', 30, 10);

      @media (max-width: toEm(650)) {
         display: flex;
         flex-direction: column;
         gap: toRem(30);
         align-items: flex-end;
      }
   }

   // .menu-header__item
   &__item {
      font-family: "IBM Plex Mono", sans-serif;
      text-transform: uppercase;

      @media (max-width: toEm(650)) {
         font-size: toRem(24);
         color: $white;
      }
   }

   // .menu-header__link
   &__link {
      position: relative;
      transition: all 0.3s;

      &:focus-visible {
         outline: toRem(2) solid $brandDark;
         outline-offset: toRem(4);
      }

      &.current-page {
         color: $brandDark;
         text-shadow:
               0 0 8px rgba(218, 197, 167, 0.6),
               0 0 15px rgba(218, 197, 167, 0.3),
               0 0 25px rgba(218, 197, 167, 0.15);
         border-bottom: toRem(1) solid $brandDark;
      }

      @include hover {
      color: $butHovGreen;
      text-shadow:
         0 0 8px rgba(218, 197, 167, 0.6),
         0 0 15px rgba(218, 197, 167, 0.3),
         0 0 25px rgba(218, 197, 167, 0.15);
         &::after {
            width: 100%;
         }
      }
   }

   @media (max-width: toEm(650)) {
      display: block;
      position: fixed;
      top: 0;
      right: -100%;
      width: 100%;
      height: 100%;
      background-color: $bgPrimary;
      opacity: 0.95;
      padding: toRem(120) toRem(15) toRem(30) toRem(15);
      transition: all 0.3s;

      .menu-open & {
         right: 0;
      }

      &::before {
         content: "";
         position: fixed;
         top: 0;
         right: -100%;
         width: 100%;
         min-height: toRem(90);
         background-color: $bgSecondary;
         transition: all 0.3s;

         .menu-open & {
            right: 0;
         }
      }
   }
}

.media-social {
   display: flex;
   align-items: center;
   @include adaptiveValue('gap', 32, 10);
   flex-wrap: wrap;
   flex-shrink: 0;
   z-index: 5;

   // .media-social__instagram
   &__instagram {

      // .media-social__instagram--icon-instagram
      &--icon-instagram {}
   }

   // .media-social__discord
   &__discord {

      // .media-social__discord--icon-discord
      &--icon-discord {}
   }

   // .media-social__github
   &__github {

      // .media-social__github--icon-github
      &--icon-github {}
   }

   &__link {
      position: relative;

      &::after {
         content: "";
         position: absolute;
         bottom: 0;
         left: 50%;
         translate: -50% 0;
         background-color: $brandDark;
         width: 0;
         height: toRem(2);
         transition: width 0.3s;
      }
      @include hover {
         &:hover {
            color: $brandDark;
            text-shadow:
               0 0 8px rgba(218, 197, 167, 0.6),
               0 0 15px rgba(218, 197, 167, 0.3),
               0 0 25px rgba(218, 197, 167, 0.15);

            &::after {
               width: 100%;
            }
         }
      }
   }

   &__telegram,
   &__discord,
   &__github {
      display: flex;
      align-items: center;
      gap: toRem(8);

      &::before {
         color: $brandPrimary;
         transition: color 0.3s;
      }

      @media (any-hover: hover) and (any-pointer: fine) {
         &:hover {
            &::before {
               color: $butHovGreen;
            }
         }
      }

      @media (max-width: toEm(870)) {
         font-size: 0;

         &::before {
            font-size: toRem(20);
         }
      }
   }

   @media (max-width: toEm(1348)) {}
}

// ===========================================================================================
// -----------------------------
// Menu-dropdown
// -----------------------------
.menu-dropdown {

   // .menu-dropdown__list
   &__list {
      display: flex;
      align-items: center;
      gap: toRem(20);
   }

   // .menu-dropdown__item
   &__item {

      // .menu-dropdown__item--submenu
      &--submenu {
         position: relative;

         @include hover {
            .menu-dropdown__link {
               &::before {
                  rotate: -90deg;
               }
            }
         }

         &.is-active {
            .menu-dropdown__submenu {
               opacity: 1;
               visibility: visible;
               pointer-events: auto;
               transform: translateY(0);
            }
         }
      }
   }

   // .menu-dropdown__link
   &__link {
      display: flex;
      flex-direction: row-reverse;
      gap: toRem(8);
      align-items: center;
      cursor: pointer;
      transition: all 0.3s;

      &::before {
         font-size: toRem(22);
         rotate: 90deg;
         transition: rotate 0.3s;
         will-change: rotate;
      }
   }

      // Focus на keyboard
      // @include focus {
      //    outline: 2px solid #00f;
      //    background-color: #222;
      // }


   // .menu-dropdown__submenu
   &__submenu {
      position: absolute;
      top: 100%;
      left: 0;

      opacity: 0;
      visibility: hidden;
      pointer-events: none;

      transform: translateY(-15px);
      transition:
         opacity .3s ease,
         transform .3s ease,
         visibility .3s ease;
   }
}

.submenu-dropdown {
   position: absolute;
   top: 100%;
   left: 0;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: toRem(15);
   background-color: $grey;
   min-width: toRem(180);
   z-index: 10;
   padding: toRem(20);
   border-radius: toRem(20);

   @media (max-width: toEm(650)) {
      left: 50%;
      translate: -50% 0;
   }

   // .submenu-dropdowne__link
   &__link {
      font-size: toRem(14);
      transition: all 0.3s;
      text-transform: capitalize;
      @include hover {
         color: $butHovGreen;
         text-shadow:
            0 0 8px rgba(218, 197, 167, 0.6),
            0 0 15px rgba(218, 197, 167, 0.3),
            0 0 25px rgba(218, 197, 167, 0.15);
      }
   }
}
