@use '../settings/settings' as *;
@use '../settings/mixins' as *;


// ===========================================================================================
// -----------------------------
// page
// -----------------------------
.page {

   // > *:not(.approach) {
   //    display: none;
   // }

   // .page__hero
   &__hero {
      @include adaptiveValue('padding-top', 150, 100);
      @include adaptiveValue('padding-bottom', 120, 50);
   }

   // .page__about
   &__about {
      @include adaptiveValue('padding-block', 120, 50);
   }

   &__work {
      @include adaptiveValue('padding-block', 120, 50);
   }

   &__projects {
      @include adaptiveValue('padding-block', 120, 50);
   }
}

// ===========================================================================================
// -----------------------------
// page__hero
// -----------------------------
.hero {
   background-color: $bgPrimary;

   &__inner {
      opacity: 0;
      scale: 0;
      transition: opacity 0.8s, scale 0.8s;
      will-change: opacity, scale;
      [init-page-loader="ready"] & {
         opacity: 1;
         scale: 1;
      }
   }

   // .hero__title
   &__title {
      font-family: "Ubuntu", sans-serif;
      @include adaptiveValue('font-size', 117, 50);
      color: $brandSecondary;
      text-align: center;
      @include adaptiveValue('margin-bottom', 64, 35);
   }

   // .hero__body
   &__body {
      display: flex;
      align-items: center;
      @include adaptiveValue('gap', 120, 40);
      justify-content: center;


      @media (max-width: toEm(735)) {
         flex-direction: column;
      }
   }
}

.content-hero {
   display: flex;
   flex-direction: column;
   @include adaptiveValue('gap', 32, 20);
   align-items: flex-start;
   max-width: toRem(820);

   // .content-hero__title
   &__title {
      @include adaptiveValue('font-size', 58, 30);
      padding-inline-start: toRem(16);

      span {
         color: $brandPrimary;
      }
   }

   // .content-hero__text
   &__text {
      @include adaptiveValue('font-size', 16, 14);
      padding-inline-start: toRem(16);
   }

   &__button {
      @media (max-width: toEm(440)) {
         width: 100%;
         align-self: center;
         justify-content: center;
      }
   }

   &__teg {
      width: toRem(40);
      height: toRem(20);
      fill: $brandSecondary;

      &-p {
         width: toRem(40);
         height: toRem(20);
         fill: $brandSecondary;
      }
   }
}

// ===========================================================================================
// -----------------------------
// page__about
// -----------------------------
.about {
   background-color: $bgSecondary;
   overflow: hidden;

   // .about__inner
   &__inner {
      position: relative;
      display: grid;
      justify-items: center;
      gap: toRem(20);

      &::before {
         content: "";
         position: absolute;
         bottom: 0;
         left: 47%;
         background: url("../assets/img/png/arrow.webp") 0 0 / cover no-repeat;
         width: toRem(160);
         height: toRem(170);
         rotate: 180deg;

         @media (max-width: toEm(810)) {
            display: none;
         }
      }
   }

   &__scroll {

      &.mouse-scroll {
         fill: $brandPrimary;
      }
   }

   // .about__body
   &__body {
      position: relative;
      display: flex;
      align-items: center;
      @include adaptiveValue('gap', 150, 50);
      overflow: hidden;

      &::before {
         content: "";
         position: absolute;
         top: 10%;
         left: 20%;
         background: url("../assets/img/png/lightbulb.webp")0 0 / cover no-repeat;
         width: toRem(57);
         height: toRem(88);

         @media (max-width: toEm(810)) {
            display: none;
         }
      }

      &::after {
         content: "";
         position: absolute;
         bottom: 0;
         left: 10%;
         background: url("../assets/img/png/note.webp") 0 0 / cover no-repeat;
         width: toRem(61);
         height: toRem(46);

         @media (max-width: toEm(810)) {
            display: none;
         }
      }

      @media (max-width: toEm(810)) {
         flex-direction: column;
      }
   }

   &__desc {
      opacity: 0;
      scale: 0;
      translate: 0 toRem(60);
      transition: translate 0.8s ease, opacity 0.8s ease, scale 0.8s;
      will-change: transform, opacity;

      &.animate {
         opacity: 1;
         scale: 1;
         translate: 0 0;
      }
   }

   &__title {
      font-size: toRem(58);
      margin-bottom: toRem(20);

      span {
         color: $brandDark;
      }
   }

   // .about__image
   &__image {
      position: relative;
      aspect-ratio: 412 / 353;
      z-index: 2;
      will-change: transform, opacity;
      opacity: 0;
      scale: 0;
      translate: 0 toRem(60);
      transition: translate 0.8s ease, opacity 0.8s ease, scale 0.8s;

      &.animate {
         opacity: 1;
         scale: 1;
         translate: 0 0;
      }

      &::before {
         content: "";
         position: absolute;
         bottom: 0;
         left: 0;
         background: url("../assets/img/png/doodle-items.webp") 100% no-repeat;
         width: 100%;
         height: 100%;
         object-fit: cover;
      }

      &::after {
         content: "";
         position: absolute;
         bottom: toRem(-15);
         left: 0;
         background-color: rgba(0, 0, 0, 0.5);
         width: 100%;
         height: toRem(40);
         border-radius: 40%;
         z-index: -1;
      }

      img {
         position: relative;
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
}

.content-about {
   background-color: $bgPrimary;
   border-radius: toRem(40);
   max-width: toRem(880);
   padding-block: toRem(24);
   @include adaptiveValue('padding-inline', 40, 20);

   // .content-about__teg
   &__teg {
      width: toRem(40);
      height: toRem(20);
      fill: $brandPrimary;
   }

   // .content-about__text
   &__text {
      padding-inline-start: toRem(16);

      >*:not(:last-child) {
         margin-bottom: toRem(10);
      }
   }
}

// ===========================================================================================
// -----------------------------
// page__work
// -----------------------------
.work {
   background-color: $bgPrimary;
   // background-color: $bgSecondary;
   overflow: hidden;

   &__block {
      @include adaptiveValue('margin-bottom', 250, 50);

      .mouse-scroll {
         fill: $butHovGreen;
      }
   }

   &__items {
      position: relative;
      display: flex;
      flex-direction: column;

      &::before {
         content: "\e900";
         font-family: 'iconfont';
         position: absolute;
         left: 50%;
         top: toRem(-50);
         translate: -50% -100%;
         background: rgba(218, 197, 167, 0.05);
         backdrop-filter: blur(30px);
         padding-block: toRem(8);
         padding-inline: toRem(12);
         border: toRem(1) solid $butHovGreen;
         border-radius: 50%;
         width: toRem(46);
         aspect-ratio: 1;
         display: flex;
         justify-content: center;
         align-items: center;
         color: $white;
         rotate: 45deg;
         transition: all 0.3s;
         rotate: 180deg;
         transition: opacity 0.34s;
      }

      &::after {
         content: "";
         position: absolute;
         top: toRem(-50);
         left: 50%;
         width: toRem(1);
         height: toRem(50);
         background-color: $butHovGreen;
      }


      @media (max-width: toEm(600)) {
         gap: toRem(50);
      }
   }

   @media (max-width: toEm(750)) {
      .work__items {
         &::before,
         &::after {
            display: none;
         }
      }

      .work__header {
         margin-bottom: toRem(50);
      }
   }
}

// ===========================================================================================
// -----------------------------
// page__projects
// -----------------------------
.projects {
   // display: none;
   background-color: $bgSecondary;
   position: relative;

   &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("../assets/img/png/works-img.webp");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0.3;
   }

   &__buttons-inner {
      @media (max-width: toEm(768.98)) {
        display: flex;
      //   justify-content: center;
         .button-arrow--right {
            margin-left: toRem(-1);
         }
      }
      @media (max-width: toEm(500)) {
      //   justify-content: center;
      }
   }

   // .projects__header
   &__header {
      .mouse-scroll {
         fill: $brandPrimary;
      }
   }

   // .projects__wrapper
   &__wrapper {
      margin: 0 auto;
      display: flex;
      align-items: center;
      gap: toRem(30);
      max-width: toRem(1000);
      opacity: 0;
      translate: 0 toRem(60);
      transition: opacity 0.5s, translate 0.5s ease;

      &.animate {
         opacity: 1;
         translate: 0 0;
      }

      @media (max-width: toEm(768.98)) {
        display: block;
      }
   }

   // .projects__slider
   &__slider {
      border-radius: toRem(30);
      @media (max-width: toEm(768.98)) {
        margin-bottom: toRem(20);
      }
   }
}

// ===========================================================================================
// -----------------------------
// page__intro
// -----------------------------
.intro {
   @include adaptiveValue('padding-block', 120, 50);
   // display: none;
   background-color: $bgPrimary;

   // .intro__container
   &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      @include adaptiveValue('gap', 50, 25);
      opacity: 0;
      // translate: 0 toRem(50);
      scale: 0.7;
      transition: opacity 0.8s ease, scale 0.8s ease;

      &.animate {
         opacity: 1;
         // translate: 0 0;
         scale: 1;
      }
   }

   // .intro__header
   &__header {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: toRem(16);
   }

   &__content {
      display: flex;
      flex-direction: column;
      gap: toRem(20);
      align-items: center;
   }

   &__title {
      position: relative;
      font-family: "Ubuntu", sans-serif;
      @include adaptiveValue('font-size', 64, 40);
      color: $white;
      border-bottom: toRem(2) solid $brandPrimary;
      padding-bottom: toRem(16);
      text-align: center;
      font-weight: 600;

      &::before,
      &::after {
         content: "";
         position: absolute;
         width: toRem(10);
         height: toRem(10);
         border-radius: 50%;
         background-color: $brandPrimary;
      }

      &::before {
         top: 100%;
         translate: -50% -43%;
         left: 0;
      }

      &::after {
         top: 100%;
         translate: 0 -43%;
         right: 0;
      }

      span {
         color: $brandDark;
      }
   }

   &__label {
      color: $brandDark;
   }

   &__text {
      text-align: center;
      max-width: toRem(500);
   }

   // .intro__button
   &__button {
      &.button-figure {
         // color: $white;
      }

   }
}






